<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mart.nagaon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Firebasedata"
        android:allowBackup="true"
        android:icon="@drawable/appiconround"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appiconround"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <activity android:name=".search2"></activity>
        <activity
            android:name=".updatedetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verificationpg"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyOrders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".success"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".product.productpg"
            android:screenOrientation="portrait" />
        <activity
            android:name=".categories.catgPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.homepage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signpage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginpage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_DJhI2p8mfavqEs" />
    </application>

</manifest>